.custom-table-tag{
    width: 45%;
    margin: 0px auto;
}

.custom-table-link{
    width: 100%;
    margin: 0px auto;
}

.alert-custom{
    width: 65%;
    margin: 0px auto;
}

.alert-custom-link{
    width: 100%;
    margin: 0px auto;
}

.table-custom{
    width: 45%;
    margin: 0px auto;
    
}