{% extends 'layout.html.twig' %}

{% block body %}

    {% block h1 %}
        {% if app.session.flashBag.has('success') %}
            <div class="alert alert-success">
                {% for msg in app.session.flashBag.get('success') %}
                    {{ msg }}
                {% endfor %}
            </div>
        {% endif %}
        Ajout d'un tag
    {% endblock %}
    {% block p %}
        {{ form_start(form) }}
        {{ form_widget(form) }}
        {{ form_end(form) }}
    {% endblock %}
{% endblock %}